{% extends 'base.html' %}
{% block title %}Заказы клиента: {{client.name}}{% endblock %}
{% block content %}
{% if not unique %}
<h3>Все 3аказы клиента: {{client.name}} {% if period %}, в течение {{period}} дней {% endif %}</h3>
{% for order in orders %}
<h5>_______________________________________________________________________________________________________________________________________________________________________________________________________________</h5>
<h5>_______________________________________________________________________________________________________________________________________________________________________________________________________________</h5>
<div>
    <h4>3аказ № {{ order.id }}, дата: {{ order.order_date }}</h4>
    <ul>
        {% for product in order.products.all %}
        <li>{{ product.name }} - {{ product.price }}, RUB</li>
        {% endfor %}
        <h4>Общая сумма товаров: {{ order.total_amount }}, RUB</h4>
<h5>_______________________________________________________________________________________________________________________________________________________________________________________________________________</h5>        
    </ul>
</div>
{% endfor %}
{% else %}
<h2>Лист "уникальных" продуктов {% if period %} в течение {{period}} дней {% endif %}:</h2>
<ul>
    {% for product in products %}
    <li>{{ product.name }} - {{ product.price }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}