<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Онлайн-магазин(beta_ver: 0.4){% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
<h5>_______________________________________________________________________________________________________________________________________________________________________________________________________________</h5>
<h5>_______________________________________________________________________________________________________________________________________________________________________________________________________________</h5>
        <h4>Работа с клиентами</h4>
            <li><a href="{% url 'create_client' %}">Создать клиента</a></li>
            <li><a href="{% url 'all_clients' %}">Клиенты</a></li>
            <li><a href="{% url 'get_client_orders' %}">Заказ клинента/-ов</a></li>
<h5>_______________________________________________________________________________________________________________________________________________________________________________________________________________</h5>
        <h4>Работа с продуктами (товарами)</h4>    
            <li><a href="{% url 'create_product' %}">Регистрация продуктов</a></li>
            <li><a href="{% url 'all_products' %}">Продукты на складе</a></li>
            <li><a href="{% url 'get_products_by_id' %}">Обновление продукции</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>



